.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #006f7a;
  color: #006f7a;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #e2dcd1;
}

.actions .add:hover {
  color: seagreen;
  border: 1px solid seagreen;
}

.actions .delete:hover {
  color: #cc3035;
  border: 1px solid #cc3035;
}

.favMark {
  border-bottom: 3px solid #cbe368;
  border-radius: 0 0 6px 6px;
}
